[Unit]
Description=uWGSI instance
After=network.target

[Service]
User="USER"
Group=www-data
WorkingDirectory="PATH"/app
Environment="PATH="PATH"/app/env/bin"
ExecStart="PATH"/app/env/bin/uwsgi --ini jsonservice.ini

[Install]
WantedBy=multi-user.target